---
import Nav from '../components/Nav.astro';
import '../styles/fonts.css';
import '../styles/utilities.css';
import '../scripts/slider.js';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title>Cezar Arvelo</title>

    <link rel='icon' type='image/x-icon' href='./img/favicon.ico' />
  </head>
  <body>
    <Nav />
    <slot />

    <script>
      const sliders = document.querySelectorAll('.slide-in');

      const appearOptions = {
        threshold: 0,
        rootMargin: '0px 0px -150px 0px',
      };

      const appearOnScroll = new IntersectionObserver(function (
        entries,
        appearOnScroll
      ) {
        entries.forEach(entry => {
          if (!entry.isIntersecting) {
            return;
          } else {
            entry.target.classList.add('appear');
            appearOnScroll.unobserve(entry.target);
          }
        });
      },
      appearOptions);

      sliders.forEach(slider => {
        appearOnScroll.observe(slider);
      });
    </script>
  </body>
</html>
